.goback-btn {
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 30px;
    font-size: 14px;
    font-family: system-ui;
    color: #ffffff;
    background-color: #008060;
    transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
    padding: 0 18px;
}

.goback-btn:hover {
    background-color: #006e52;
}